
h1{
  font-size: 45px;
  color: #885df1;
  text-align: center;
  margin-top: 20px;
}

.App {
  padding: 50px;
  max-width: 80%;
  margin: 0 auto;
  
}
.Header {
    margin-bottom: 100px;
}

.logo {margin: 25px;}

.footer {
  text-align: center;
  font-size: 20px;
  color: black;
  opacity: 0.6;
  font-weight: bold;
  margin-top: 50px;
}

@media (max-width: 767px) { 
  h1 {font-size: 16px;
  margin: 0px;}
  .App {max-width: 100%;}
  .logo {width: 80px;
  margin: 0px;}
  .Header {margin-bottom: 30px;}
  .footer {font-size: 10px;
 }
 }
