
h1{
  font-size: 45px;
  color: #885df1;
  text-align: center;
  margin-top: 20px;
}

.App {
  padding: 50px;
  max-width: 100%;
  
}
.Header {
    margin-bottom: 100px;
}

.logo {margin: 25px;}

.footer {
  text-align: center;
  font-size: 13px;
  color: black;
  opacity: 0.6;
  font-weight: bold;
  margin-top: 50px;
}

